
@font-face{
    font-family:advanced_pixel-7 ;
    src: url("fuente/advanced_pixel-7.ttf");
}

select{
    text-align: center;
    font-size: 2.2vw;
    font-family:advanced_pixel-7 ;
    background-color:  rgba(100, 148, 237, 0.5);

}

body{
    margin: 0;
    font-family: advanced_pixel-7;
    background-color: black;
}

#Fondo {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(./imagenes/3N538nt.gif);
    background-repeat: no-repeat;
    background-position: 2vw 0vw;
    background-size: 96vw 49.5vw;
    background-color: black;

}

#Fondo2{
    position: fixed;
    height: 60vw;
    width: 100vw;
    background-image: url(./imagenes/giphy.gif);
    background-repeat: no-repeat;
    background-position: 2vw 0vw;
    background-size: 96vw 48.1vw;
    background-color:black;
    font-family: advanced_pixel-7;
}

#Fondo3{
    position: fixed;
    height: 60vw;
    width: 100vw;
    background-image: url(./imagenes/l+y9Te.png);
    background-repeat: no-repeat;
    background-position: 2vw 0vw;
    background-size: 96vw 51vw;
    background-color: black;
    font-family: advanced_pixel-7;
}

h1{

 font-size: 5vw;
 margin-top: 0;
}
p{
    font-size: 2.5vw;
    margin-top: -2vw; 
}
#telon h2{
    position: absolute;
    font-size: 8vw;
    left: 40vw;
    top: 20vw;
    color: white;
    animation: mymove3 10s infinite ;
}

#telon h3{
    position: absolute;
    left: 49vw;
    top: 36vw;
    font-size: 2vw;
    color: white;
}


#personaje {

    position: absolute;
    height: 6.77vw;
    width: 7vw;
    background-position: -47vw -13.23vw;
    top: 39.9vw;
    background-image: url(./imagenes/People5.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    left: 21vw;
}

#personaje2 {

    position: absolute;
    height:6.77vw;
    width: 7vw;
    background-position: -66.3vw -33.3vw;;
    top: 39.9vw;
    background-image: url("./imagenes/Actor2.png");
    background-size: 80vw;
    background-repeat: no-repeat;
    left: 68vw;
}


#personaje3 {
    position: absolute;
    height: 6.77vw;
    width: 7vw;
    background-position: -26.3vw -33.3vw;
    top: 39.9vw;
    background-image: url(./imagenes/Actor4.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    left: 68vw;
}


#EnemigoFinal {
    position: absolute;
    height: 7.2vw;
    width: 7vw;
    background-position: -0.3vw -6.8vw;
    top: 39.9vw;
    background-image: url(./imagenes/Monster.png);
    background-size: 80vw;
    background-repeat: no-repeat;
    animation: mymove5 0.8s infinite step-end ;
    left: 68vw;
}

@keyframes mymove {
    0%{background-position: -46.5vw -13.23vw;}
    25%{background-position: -53vw -13.3vw;}
    50%{background-position: -46.5vw -13.23vw;}
    75%{background-position: -40vw -13.3vw}
}

@keyframes mymove2 {
    0%{background-position: -46.5vw -6.6vw;}
    25%{background-position: -53vw -6.6vw;}
    50%{background-position: -46.5vw -6.6vw;}
    75%{background-position: -40vw -6.6vw;}
}

@keyframes mymove5 {
    0%{ background-position: -0.3vw -6.8vw;}
    25%{background-position: -7.1vw -6.8vw;}
    50%{background-position: -0.3vw -6.8vw;}
    75%{background-position: -13.5vw  -6.6vw;}
}

@keyframes mymove6 {
    0%{background-position: -46.5vw -6.6vw;}
    25%{background-position: -53vw -6.6vw;}
    50%{background-position: -46.5vw -6.6vw;}
    75%{background-position: -40vw -6.6vw;}
}

#imgDialogo{
    background-image: url("./imagenes/Face_Fantasy1_002B_3.png");
    position: absolute;
    background-size: 30vw;
    background-repeat: no-repeat;
    margin-top: 4vh;
    margin-left: 8.7vw;
    height: 80vh;
    width: 28vw;
}

#imgDialogo1{
    background-image: url(./imagenes/Face_Fantasy1_033B_2.png);
    position: absolute;
    background-size: 30vw;
    background-repeat: no-repeat;
    margin-top: 4vh;
    left: 72vw;
    height: 80vh;
    width: 28vw;
}
#imgDialogo2{
    background-image: url(./imagenes/Face_Fantasy1_025B_4.png);
    position: absolute;
    background-size: 30vw;
    background-repeat: no-repeat;
    margin-top: 4vh;
    left: 63vw;
    height: 80vh;
    width: 28vw;
}

#imgDialogo3{
    background-image: url(./imagenes/Face_Fantasy1_139B_3.png);
    position: absolute;
    background-size: 30vw;
    background-repeat: no-repeat;
    margin-top: 4vh;
    left: 63vw;
    height: 80vh;
    width: 28vw;
}


#globoDialogo{
    position: absolute;
    border: 0.7vw double black;
    border-radius: 2vw;
    top: 30vw;
    width: 82vw;
    left: 7vw;
    height: 30vh;
    background-color: rgba(100, 148, 237, 0.5);

}


@keyframes mymove3 {
        0%{opacity: 1.0;}
        25%{opacity: 0.5;}
        50%{opacity: 0;}
        75%{display: none;}
    } 

.home h1{
    font-size: 7vw;
 color: white;
}

.pagFinal h1{
    color: white;
font-size: 7vw;
}

.home h2{
    color: white;
font-size: 3vw;
}


.verde{
    color: greenyellow;
    margin-top: 0px;
}
.home{

text-align: center;
  margin-top: 10vw;
}

#home{
    
    text-align: center;
  margin-top: 10vw;
}

.pagFinal{
    text-align: center;
    margin-top: 8vw;
}
#resumen {
        top: 7vw;
        text-align: center;
         color: white;
    }


#resumen h1{
    font-size:6vw;
}

#resumen h2{
margin-top: 0%;
font-size:4vw;
}

.llama {
    position: absolute;
    height: 33vw;
    width: 16.54vw;
    background-position: -123.3vw -166.3vw;
    top: 6.9vw;
    background-image: url(./imagenes/!Other2.png);
    background-size: 165vw;
    background-repeat: no-repeat;
    left: 76vw;
    animation: mymove6 0.8s infinite step-end ;
}

.llama2 {
    position: absolute;
    height: 33vw;
    width: 16.54vw;
    background-position: -123.3vw -166.3vw;
    top: 6.9vw;
    background-image: url(./imagenes/!Other2.png);
    background-size: 165vw;
    background-repeat: no-repeat;
    left: 9vw;
    animation: mymove6 0.8s infinite step-end ;
}

@keyframes mymove6 {
    0%{  background-position: -123.3vw -166.3vw;}
    25%{background-position: -137.1vw -166.3vw;}
    50%{background-position: -123.3vw -166.3vw;}
    75%{background-position: -151vw -166.3vw;}
    100%{background-position: -137.1vw -166.3vw;}

}

button:hover{

    color: rgb(212, 221, 199);
}

button{
    font-family:advanced_pixel-7 ;
    font-size: 3vw;
 
}